In [4]:
import pandas as pd

df = pd.DataFrame(
    {'name': ['Akshat', 'khushi', 'Kartik', 'Disha'],
     'score': [90, 85, 89, 98],
     'grade': ['A', 'B', 'A', 'A+']},
      index=['a', 'b', 'c', 'd'])

df

     name  score grade
a  Akshat     90     A
b  khushi     85     B
c  Kartik     89     A
d   Disha     98    A+

In [10]:
#.loc[] – Access a group of rows and columns by labels
print(df.loc['a'])
# To select columns 'name' and 'score' for all rows, use:
print(df.loc["c":, ['name', 'score']])

name     Akshat
score        90
grade         A
Name: a, dtype: object
     name  score
c  Kartik     89
d   Disha     98

In [15]:
#.iloc[] – Access a group of rows and columns by integer positions
print(df.iloc[0])
print(df.iloc[0:2, :1])

name     Akshat
score        90
grade         A
Name: a, dtype: object
     name
a  Akshat
b  khushi

In [ ]:
#3. Boolean Indexing
print(df[df['score'] > 85])

     name  score grade
a  Akshat     90     A
c  Kartik     89     A
d   Disha     98    A+

In [19]:
#.at[] – Fast label-based scalar access
print(df.at['a','name'])
print(df.at['b','score'])

Akshat
85

In [23]:
#.iat[] – Fast integer position-based scalar access
print(df.iat[0, 2])
print(df.iat[1, 1])

A
85