In [1]:
import pandas as pd

df = pd.DataFrame({
    "Department": ["HR", "IT", "HR", "Finance", "IT", "HR", "Finance", "IT"],
    "Employee": ["A", "B", "C", "D", "E", "F", "G", "H"],
    "Salary": [50000, 60000, 52000, 58000, 62000, 51000, 59000, 63000],
    "Experience": [2, 3, 1, 5, 4, 2, 6, 3]
})

In [7]:
grouped = df.groupby("Department")
grouped

In [3]:
# Mean salary by department
avg_salary = grouped["Salary"].mean()

# Count of employees in each department
employee_count = grouped["Employee"].count()

In [4]:
# Mean salary by department
avg_salary = grouped["Salary"].mean()

# Count of employees in each department
employee_count = grouped["Employee"].count()

In [5]:
summary = grouped.agg({
    "Salary": ["mean", "max", "min"],
    "Experience": "median"
})

In [6]:
summary

                  Salary               Experience
                    mean    max    min     median
Department
Finance     58500.000000  59000  58000        5.5
HR          51000.000000  52000  50000        2.0
IT          61666.666667  63000  60000        3.0