In [1]:
#1.	Vectorization: Applying operations to entire arrays rather than individual elements.
import pandas as pd

df = pd.DataFrame({
    "Price": [100, 150, 200, 250, 300],
    "Tax": [0.1, 0.15, 0.05, 0.2, 0.18]
})

# Traditional way (loop)
total_price_loop = []
for i in range(len(df)):
    total = df.loc[i, "Price"] + df.loc[i, "Price"] * df.loc[i, "Tax"]
    total_price_loop.append(total)

df["Total_Loop"] = total_price_loop

# Vectorized way
df["Total_Vectorized"] = df["Price"] + df["Price"] * df["Tax"]

df

   Price   Tax  Total_Loop  Total_Vectorized
0    100  0.10       110.0             110.0
1    150  0.15       172.5             172.5
2    200  0.05       210.0             210.0
3    250  0.20       300.0             300.0
4    300  0.18       354.0             354.0

Categorical Data: Optimize performance with categorical data types

In [2]:
import pandas as pd

df = pd.DataFrame({
    "Employee": ["A", "B", "C", "D", "E"],
    "Department": ["HR", "Finance", "HR", "IT", "Finance"]
})

print(df["Department"].dtype)  # → object

object

In [3]:
df["Department"] = df["Department"].astype("category")

print(df["Department"].dtype)  # → category

category